#masterDiv {
    display: grid;
    background-color: black;

    height: 100%;
    width: 100%;



}

body,
html {
    margin: 0;

}

.me {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 50px;
}

.bomb {
    color: #bb0a1e;
}